-----BEGIN CERTIFICATE-----
MIIDyDCCArCgAwIBAgIUST9N8XupG10FiGa+SB8+45b8tlkwDQYJKoZIhvcNAQEL
BQAwazELMAkGA1UEBhMCVVMxDjAMBgNVBAgMBVN0YXRlMQ0wCwYDVQQHDARDaXR5
MRUwEwYDVQQKDAxPcmdhbml6YXRpb24xEDAOBgNVBAsMB09yZ1VuaXQxFDASBgNV
BAMMCzE5Mi4xNjguMC44MB4XDTI1MDIxNDE0MzkxNVoXDTI2MDIxNDE0MzkxNVow
azELMAkGA1UEBhMCVVMxDjAMBgNVBAgMBVN0YXRlMQ0wCwYDVQQHDARDaXR5MRUw
EwYDVQQKDAxPcmdhbml6YXRpb24xEDAOBgNVBAsMB09yZ1VuaXQxFDASBgNVBAMM
CzE5Mi4xNjguMC44MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAx9Mg
ObSNQTiu8vZ+CsfJbYrx6oV3s8HEu2yt3f09smtYs1H4ThHbr87a5b5IUOev2D8X
E7/3W/ZVcG9I+2h74ut0e2zqvQlYbSnmV+7ADCyPPagzdzZGZE7Huop+LKQHey94
Vsg2RZg7njQUhiCUECwyGZxOJ3w8hTIfC2hS2eKPyMqLgtk24fz+kU2hx0b3NkL7
QJ50bbzMTDDHhHOf/3VYDrE/TgjL2bMrNJBvxcBJuZo3skTSVNpGqIPhJJXL6EY5
orCvMDcSiAqm8eNoYF7F/FhAj/mLupXMGbPnTQFQ7IwksaCrJno73TP+Z9XQYLbD
gDboo4UNKCJKBqIuQwIDAQABo2QwYjAdBgNVHQ4EFgQUDCEoeQRKajmCP+BP8xOS
8P6UPL4wHwYDVR0jBBgwFoAUDCEoeQRKajmCP+BP8xOS8P6UPL4wDwYDVR0TAQH/
BAUwAwEB/zAPBgNVHREECDAGhwTAqAAIMA0GCSqGSIb3DQEBCwUAA4IBAQDAkEtL
1q/MAZUiuWM6rmBj/mqjPwbi8/Dpbbui/6wYvtoxDp6BqaRF/s+rC5tz6xHkBs0i
ZmqbZPpy8lY1LuvHX/2p+42qzw79cXAwVyl/WE5w/bvdMYKmKD9BbnZR+Z++tgst
pXPWVQwHWHkXbSE7sRiArgwolvKQVYA+QGGDr5Fw+u8p7Eh3RGbwP9AHjLlvIyg4
9ATsBMx42jQ6CNXhYYzi671DUNqKO31PdNE2cTTMpzpmLa0IzFoEbg/DxuS70ubf
9nda57iqMCCnQbUg004+gW7lErxnlyaV8Ey5LXYO2e8eddqO0htdSMfJvuY+Kqod
SMzRH/STlYHdB4Kf
-----END CERTIFICATE-----
